@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Montserrat:wght@400;700&family=Playfair+Display:ital,wght@1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/common-pixel');


*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 10px 17px;
}



.logo{
    text-decoration: none;
    color:  #2b2d2f;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em; /* 1em= default body font size*/
    padding-right: 500px;

}
header img{
    width: 75px;
    height: 30px;
    object-fit: fill;
    margin-left: 160px;
}

.logo:hover{
    color: #8C5D42;
    transition: all .4s ease;
}

.navigation a{
    color:#2b2d2f;
    text-decoration:none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    position: relative;
   
}

.navigation a:after{
    content: "";
    position: absolute;
    background-color: #8C5D42;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    margin-left: 25px;
}
.navigation a:hover{
    color: black;
}
.navigation a:hover:after{
    width: 90%;
}




section{
    padding: 75px 130px ;
}



.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(Background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*to keep the background fixed while scrolling , it gives like a 3D effect*/
}

.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #edebe8;
    font-size: 2.22em;
    font-weight: 600;
    
}

.main h3{
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.buttons-section{
    display: flex;

}
.main-button{
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .7s ease;    
    margin-right: 15px;
}

.main-button:hover{
    background-color: #8C5D42;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
  
}

.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;

}


.social-icons :hover{

    transform: scale(1.1);
    cursor: pointer;
    color:  white ;   
    
}

.title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;

}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.achievements{
    background-color: #8C5D42;
}

.achievements .content{
    margin-top: 30px;
    
}


.more-details{
    text-decoration: none;
    color: #8C5D42;
    font-weight: 500;
}

.more-details:hover{
    color:#8C5D42;
    text-decoration: underline;
}

.project-card{
    background-color: white;
    border: 1px solid white;
    min-height: 16em;
    width: 23em;
    overflow: hidden;
    border-radius :10px; 
    margin:20px;
    transition: 0.7s ease;

}

.project-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.project-image img{
width: 100%;
}

.margin-pic{
    margin-top: 25px;
}

.margin-pic2{
    margin-bottom: 17px;
}


.project-info{
padding: 1em;
text-align: center;
}

.project-title{
    font-size: 1.3em;
    color:  #8C5D42;
    font-weight: 800;
   
}

.project-description{
    margin-top: 7px;
}


.card{
    background-color: white;
    width: 21.25em; 
    border-radius: 10px;
    padding: 25px;
    margin:15px;
    box-shadow: 0 5px 15px rgba(140, 93, 66, 0.747);
    transition: .7s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: #8E6343;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}
.info h3{
    color:#8E6343;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.projects p{
    text-align: center;
}


.projects img{
    height: 70px;
    width: 200px;
    object-fit: contain;
    margin-top: 10px;
}


.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}




.cards-contact .icon{
    font-size: 4.5em;

}

.cards-contact h3{
    color: black;

}




footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 2em;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #b1825b;
}

footer .social-icons a{
    font-size: 1em;
    padding: 0 12px 0 0 ; /*clockwise direction*/

}



.contact-box{
    background-color: white;
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px;
    background-color: white;
    color:#b1825b;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;

}

input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #b1825b;
    padding-bottom: 5px;
    background-color: white;
    color: black;
}

input::placeholder {
    color: black;
    font-size: 1.2em;
}

textarea{
    width: 100%;
    outline: none;
    border-bottom: 1px solid #b1825b;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

textarea::placeholder{
    color: black;
    font-size: 1.2em;
}

label{
   margin-bottom: 6px;
   display: block;
   font-weight: 600;
}



.contact-left button{
    background-color: #b1825b;
    color: white;
    width: 250px;
    border: none;
    outline: none;
    height: 45px;
    border-radius:30px;
    margin-top :20px;
    transition: .7s ease;
}

.contact-left button:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(140, 93, 66, 0.449);
    background-color:#8C5D42;
    transition: .7s ease;
}
 

.contact-left h3{
  color: #b1825b;
    font-weight: bold;
    margin-bottom: 30px;
}

.contact-right h3{

    font-weight: bold;
    margin-bottom: 30px;
    color: #b1825b;
    padding-left: 40px;
}

.contact-right{
    flex-basis: 60%;
    padding: 40px 60px;
    width: 700px;
    
}

.contact-right p{
font-size: 16px;
margin-bottom: 37px;
}

.contact-right i{
    color: #b1825b;
    margin-right: 10px;
    padding-left: 40px;
}

hr{
    height: 370px ;
    margin-left: 20px;
    margin-top: 20px;
}

.cards-contact{
    padding: 0px 10px 130px ;

}

.container-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* .contact-left{
    margin-left: 120px;
} */

/* Tablets  */
@media (max-width: 1400px) and (min-width: 768px) {

    .main h2  {
        font-size: 1rem;
    }

    .main h3 {
        font-size: 90%;
    }

    .navigation a:after{
        content: "";
        position: absolute;
        background-color: #8C5D42;
        height: 3px;
        width: 0;
        left: -9px;
        bottom: -10px;
        transition: 0.3s;
        margin-left: 25px;
    }
    
    .navigation a:hover:after{
        width: 85%;
    }
    

    .main-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .main-button span {
        font-size: 0.8rem;
    }

    .buttons-section{
        display: flex;
        margin-top: 20px;
    }

    
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;

    }

    .navigation{
        display: flex;
    }
   
header img{
    
        margin-left: 0;
    }

    .social-icons{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .logo{
        font-size: 0.9rem;
        padding-right: 55px;
        margin-left: 80px;
    }

    .navigation a{
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        padding: 0 10px 0 20px;
    
    }

    

    section{
        padding: 40px 30px;
    }


.contact-box{
    flex-direction: column;
    margin: 10px 30px;
}

hr{
    display: none;
}

.projects h2{
    font-size:1.1rem ;
    text-align: center;
}


.contact-left{
    margin-left: 0;
    padding: 0;
    /* display: none; */
    
}

.input-row{
    width: auto;
}

.cards-contact{
    padding: 10px 0px;
}

form * , button{
font-size: 0.5rem;

}



.contact-left h3{
    display: flex;
    justify-content: center;
}

.contact-right h3{
    display: flex;
    justify-content: center;
}

.contact-right :nth-child(3),:nth-child(5){
    font-size: 0.7rem;
}

.contact-right :nth-child(4) {
    font-size: 0.6rem;
    margin-left: 10px;
}
.contact-right  {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    margin-right: 40px;
    width: auto;
    text-align: center;
}

.contact-right :nth-child(2) ,:nth-child(5){
    font-size: 0.8rem;
}


.container-contact{
    width: 100% ;
}

.send-button{
    display: flex;
    justify-content: center;
}

.contact-right h3{
    margin-top: 15px;
}

.contact-left span{
    margin-top: 15px;
}

.footer-title{
    font-size: 0.8rem;
    display: flex;
    align-items: center;

}

footer .social-icons {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

}
/* mobile */
@media (max-width: 768px){


    .main h2  {
        font-size: 1rem;
    }

    .main h3 {
        font-size: 90%;
    }

    .main-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .main-button span {
        font-size: 0.8rem;
    }

    .buttons-section{
        display: flex;
        margin-top: 20px;
    }

    
    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0px;

    }
   
header img{
    
        margin-left: 0;
    }

    .social-icons{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .logo{
        font-size: 0.9rem;
        padding-right: 55px;
    }

    .navigation a{
        display: none;
    }

    

    section{
        padding: 40px 30px;
    }


.contact-box{
    flex-direction: column;
    margin: 10px 30px;
}

hr{
    display: none;
}

.projects h2{
    font-size:1.1rem ;
    text-align: center;
}


.contact-left{
    margin-left: 0;
    padding: 0;
    /* display: none; */
    
}

.input-row{
    width: auto;
}

.cards-contact{
    padding: 10px 0px;
}

form * , button{
font-size: 0.5rem;

}




.contact-left h3{
    display: flex;
    justify-content: center;
}

.contact-right h3{
    display: flex;
    justify-content: center;
}

.contact-right :nth-child(3),:nth-child(5){
    font-size: 0.7rem;
}

.contact-right :nth-child(4) {
    font-size: 0.6rem;
    margin-left: 10px;
}
.contact-right  {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    margin-right: 40px;
    width: auto;
    text-align: center;
}

.contact-right :nth-child(2) ,:nth-child(5){
    font-size: 0.8rem;
}


.container-contact{
    width: auto;
}

.send-button{
    display: flex;
    justify-content: center;
}

.contact-right h3{
    margin-top: 15px;
}

.contact-left span{
    margin-top: 15px;
}

.footer-title{
    font-size: 0.8rem;
    display: flex;
    align-items: center;

}

footer .social-icons {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}



}
